body {
    font-family: Verdana;
    color: #aaaaaa;
}

* {
    box-sizing: border-box;
}

.menu_left_nav_titles {
    float: left;
    width: 20%;
}

.menu_left_nav_titles a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

.main_tutorials_content {
    float: left;
    width: 60%;
    padding: 0 10px;
}

.right_ads_div_content {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .main_tutorials_content,
    .right_ads_div_content {
        width: 100%;
    }
}


/**header menu**/

.header_menu_div {
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
}


/**menu_tuto_left_content**/

.menu_tuto_left_content {
    overflow: auto;
}


/**footer**/

footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
    height: auto;
}


/********  MENU   ******/

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 550px;
    overflow-y: scroll;
}

.tab a {
    text-decoration: none;
    padding-left: 10%;
}

.tab :hover {
    background-color: rgb(255, 255, 255);
}

.tabcontent {
    margin-top: 10px;
    padding: 0px 12px;
    border: 0px solid #ccc;
    width: 100%;
    height: auto;
}

@media (max-width: 620px) {
    .menu_left_nav_titles {
        display: none;
    }
}


/******/

@media (min-width: 620px) {
    .menu_3_bars {
        display: none;
    }
}

.sidenav {
    height: 85%;
    width: 0;
    margin-top: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(95, 95, 95, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    color: black;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu_3_bars {
    font-size: 30px;
    cursor: pointer;
    margin-left: 2%;
}


/*******/

h5 {
    margin-left: 5%;
    text-align: center;
}